.saved-address-info{
 position: relative;
}

#default-badge {
  background-color: rgb(190, 24, 74);
  color: rgb(253, 242, 248);
  font-size: 12px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  padding: 2px 10px;
  position: absolute;
  left: 10px;
  top: -20px;
}

#saved-address {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 6px;
}


