.align-center{
  padding-left: 150px;
}

.update-password-input{
  width: 300px;
}

#update-password-buttons{
  margin-top: 15px;
  margin-left: 180px;
  margin-right: 60px;
}

#save-address, #discard-address{
  width: 40%;
}

